<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
	<title>Main</title>
</head>

<body>
	<div class="header">
		<h2white>
			FBI Crimes by Offense and Year: Graphs
		</h2white>
		<hr>
		<pWhite>
			Project by Dharmarakshit Harley, Samrat Korupolu and Michael Zeolla
		</pWhite>
        <div class="header-right">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="active" asp-area="" asp-controller="Home" asp-action="mainpage">Main Page</a>
            <a asp-area="" asp-controller="Home" asp-action="aboutUs">About Us</a>
        </div>
	</div>
	<div class="container">

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Year</th>
					<th>Offenses</th>
					<th>Count</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="padding:0 30px 0 30px;">2019</td>
					<td style="padding:0 30px 0 30px;">All Other Offenses</td>
					<td style="padding:0 30px 0 30px;">2,659,001</td>

				</tr>
				<tr>
					<td>2019</td>
					<td>Drug</td>
					<td>1,239,909</td>
				</tr>
				<tr>
					<td>2019</td>
					<td>Simple Assault</td>
					<td>836,720</td>
				</tr>
				<tr>
					<td>2019</td>
					<td>Driving Under Influence</td>
					<td>731,967</td>
				</tr>
				<tr>
					<td>2019</td>
					<td>Larsony - Theft</td>
					<td>701,523</td>
				</tr>
				<tr>
					<td>2019</td>
					<td>Aggravated Assault</td>
					<td>317,632</td>
				</tr>
				<tr>
					<td>2019</td>
					<td>Drunkness</td>
					<td>231,693</td>
				</tr>
			</tbody>
		</table>

	</div>
    <div class="bottom">
        <a asp-area="" asp-controller="Home" asp-action="create"><input type=button value='CREATE'></a>
        <a asp-area="" asp-controller="Home" asp-action="update"><input type=button value='UPDATE'></a>
        <a asp-area="" asp-controller="Home" asp-action="delete"><input type=button value='DELETE'></a>
    </div>
	<div class="footer">
		<pWhite>Copyright &#169 May 2021 | ISM 6225 | USF</pWhite>
	</div>

</body>
</html>
